.app-container {
  width: 600px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }
}

.buttons-container {
  text-align: center;

  button {
    background: none;
    margin: 0 2px;
    border: 1px solid #000;
    padding: 12px;

    &:hover {
      cursor: pointer;
      background-color: lightgrey;
    }
  }
}